USE Carnival;
GO

WITH menus
AS
(

	-- get the first row (ie the menu whose parent 
	-- is null)
	SELECT	MenuId			= MenuId,
			MenuName		= MenuName,
			Breadcrumb		= CAST('Top' AS VARCHAR(100)) 
	FROM	tblMenu			AS tm
	WHERE	tm.ParentMenuId	IS NULL

	-- link to all of those rows whose parent menu
	-- id equals this row's menu id
	UNION	ALL

	SELECT	MenuId							= submenus.MenuId,
			MenuName						= submenus.MenuName,
			Breadcrumb						= CAST((m.Breadcrumb + ' > ' + m.MenuName) AS VARCHAR(100)) 
	FROM	tblMenu							AS submenus
			INNER JOIN
			menus							AS m
				ON	submenus.ParentMenuId	= m.MenuId
)

-- show the results (avoid infinite recursion possibility)
SELECT	*
FROM	menus
OPTION (MAXRECURSION 2);


